html, body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
}
h1 {
	color: #2a2a2a;
	font-weight: 600;
}

h2 {
	color: #2a2a2a;
	font-weight: 600;
	font-size: 16px;
}

ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

#container {
	width: 1104px;
	height: 100%;
	overflow: auto;
	margin: 0 auto;
}

#pallet {
	float: left;
}

#master-pallet, #groups-pallet, #import-pallet  {
	float: right;
	margin-left: 1000px;
}

#master-pallet .process_icon {
	width: 30px;
	height: 30px;
	margin: -5px 5px 0 -10px;
}

#groups-pallet .group-color {
	width: 10px;
	height: 30px;
	margin: -5px 5px 0 -10px;
}

#groups-pallet {
    clear:both;
    margin-top: 220px;
    top: 58px;
}

#import-pallet {
    clear:both;
    margin-top: 470px;
    top: 58px;
}

#pallet, #master-pallet, #groups-pallet, #import-pallet {
	border: 1px solid black;
	padding: 5px;
  white-space: normal;
	background: #f4f4f4; /* Old browsers */
	background: -moz-linear-gradient(top, #f4f4f4 0%, #d2d2d2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#d2d2d2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f4f4f4 0%,#d2d2d2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f4f4f4 0%,#d2d2d2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f4f4f4 0%,#d2d2d2 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f4f4f4 0%,#d2d2d2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#d2d2d2',GradientType=0 ); /* IE6-9 */
	-moz-border-radius: 5px;
	border-radius: 5px;
}

section#main {
	border: 1px solid black;
	padding: 5px;
	background: #f4f4f4; /* Old browsers */
	background: -moz-linear-gradient(top, #f4f4f4 0%, #efefef 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f4f4f4 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f4f4f4 0%,#efefef 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f4f4f4 0%,#efefef 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f4f4f4 0%,#efefef 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/*Removed top: 8px 12-2-2015 */
#pallet, #master-pallet, #groups-pallet, #import-pallet  {
	width: 200px;
	position: fixed;

	max-height: 650px;
	overflow-y: auto;
	overflow-x: hidden;
	display: inline-block;
}

#pallet h1, #master-pallet h1, #groups-pallet h1, #import-pallet h1, section#main h1 {
	color: #2a2a2a;
	padding: 0px;
	margin: 1px 0 0 0;
	font-size: 18px;
	padding: 5px;
}

#pallet h1, #groups-pallet h1, #import-pallet h1, #master-pallet h1 {
	text-align: center;
}

#pallet ul li, #groups-pallet ul li, #master-pallet ul li {
	border: 1px solid black;
	margin: 0px;
	padding: 11px 5px 10px 17px;
	color:#565656;
	position: relative;
	text-overflow: ellipsis;
	white-space: normal;
	overflow: hidden;
	height: 20px;
	font-weight: 600;
	font-size: 14px;
	background: #f0f0f0; /* Old browsers */
	background: -moz-linear-gradient(top, #f0f0f0 0%, #bbbbbb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(100%,#bbbbbb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f0f0f0 0%,#bbbbbb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f0f0f0 0%,#bbbbbb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f0f0f0 0%,#bbbbbb 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f0f0f0 0%,#bbbbbb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#bbbbbb',GradientType=0 ); /* IE6-9 */
}

ul li .listtab {
	border-right: 1px solid black;
	margin: 0px;
	display: block;
	background-color:#91ff55;
	width: 7px;
	height: 100%;
	left: 0px;
	position: absolute;
	top:0px;
}

#pallet ul li:not(:first-child), #groups-pallet ul li:not(:first-child), #master-pallet ul li:not(:first-child) {
	margin-top: -1px;
}

#pallet .help, #master-pallet .help, #groups-pallet .help, #import-pallet .help {
	border-top: 1px solid #2a2a2a;
	margin-top: 30px;
	word-break: break-word;
	color: #3c9531;
	font-size: 14px;
	font-weight: bold;
	display: block;
	padding: 5px 5px 0px 5px;
}
#pallet .help {
	width: 176px;
}
#master-pallet .help, #groups-pallet .help, #import-pallet .help {
	width: 190px;
}

section#main {
    margin: 0 10px 10px 0px;
    position: relative;
    left: 220px;
    padding: 10px;
    border: 1px solid black;
    width: 750px;
    display: inline-block;
    overflow: hidden;
}

section#main #name, section#main #active,section#main #description {
	padding: 5px;
	font-size: 13px;
	border: 1px solid black;
	margin: 3px;
	width: 301px;
	display: inline-block;
	overflow: hidden;
}

section#main #name {
	width: 290px;
}

section#main #ignore_check {
	top: 3px;
	position: relative;
}

section#main #ignore_check_label {
	width: 180px;
	font-size: 10px;
}

section#main #active {
	width: 80px;
}

section#main #description {
	height: 50px;
}

.col1, .col2 {
	display: inline-block;
	width: 49%;
	vertical-align: top;
}

section#main .parent_flow, section#main .readonly {
	padding: 10px;
	margin: 10px 0px;
	border: 1px solid black;
	background: #f0f0f0; /* Old browsers */
	background: -moz-linear-gradient(top, #f0f0f0 0%, #bbbbbb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(100%,#bbbbbb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f0f0f0 0%,#bbbbbb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f0f0f0 0%,#bbbbbb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f0f0f0 0%,#bbbbbb 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f0f0f0 0%,#bbbbbb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#bbbbbb',GradientType=0 ); /* IE6-9 */

}

section#main .parent_flow h2 {
	margin: 0px;
	padding: 0px;
	color: #565656;
}

section#main .sub_flow:not(.fluid) {
	padding: 5px;
	width: 155px;
	height: 100px;
	display: inline-block;
	vertical-align: top;
	margin: 0px;
	word-wrap: break-word;
	background: url(../imgs/subflow-mid.png) no-repeat;
}

section#main .sub_flow.large {
	width: 250px;
	background: url(../imgs/subflow2.png) no-repeat;
}

section#main .sub_flow.fluid {
	width: 240px;
	height: 100%;
	margin: 5px;
	display: inline-block;
	vertical-align: top;
	background: #f0f0f0; /* Old browsers */
	background: -moz-linear-gradient(top, #f0f0f0 0%, #bbbbbb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(100%,#bbbbbb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f0f0f0 0%,#bbbbbb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f0f0f0 0%,#bbbbbb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f0f0f0 0%,#bbbbbb 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f0f0f0 0%,#bbbbbb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#bbbbbb',GradientType=0 ); /* IE6-9 */
	border: #2a2a2a 1px solid;
	-moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
	word-wrap: break-word;
}

section#main .sub_flow label {
	font-size: 13px;
	text-align: center;
	display: block;
	width: 100%;
	margin-top: 0.3em;
}

section#main .sub_flow:not(.fluid) .value {
	font-size: 14px;
	text-align: center;
	display: block;
	color: #2a2a2a;
	font-weight: 600;
	margin: 10px;
	height: 50px;
}

section#main .sub_flow.fluid .value {
	font-size: 14px;
	text-align: center;
	display: block;
	color: #2a2a2a;
	font-weight: 600;
	margin: 10px;
}

section#main .sub_flow.large .value {

}

section#main .sub_flow.current.large {
	background: url(../imgs/subflow-current2.png) no-repeat;
}

section#main .sub_flow.current:not(.fluid):not(.large) {
	background: url(../imgs/subflow-mid-current.png) no-repeat;
}

section#main .sub_flow.fluid.current {
	border: 1px green solid;
}

section#main .connector {
	border-bottom: 1px solid black;
	width: 20px;
	margin: 0px;
	display: inline-block;
	vertical-align: middle;
	height: 53px;
}

section#main .sub_flow .value .custom_field:not([type="checkbox"]) {
	width: 200px;
	height: 30px;
}

section#main .sub_flow .value .custom_field.datetime {
    width: 140px;
    height: 30px;
}

section#main .sub_flow .value .custom_field.multi_select {
	height: 60px;
}

section#main .sub_flow .value .stage_name:not([type="checkbox"]) {
    width: 200px;
    height: 30px;
}

section#main .sub_flow .value .stage_dropdown:not([type="checkbox"]) {
    width: 50px;
    height: 30px;
}

section#main .readonly {
	margin: 10px;
	padding: 10px;
	border: 1px solid black;
	font-size: 13px;
	color: #2a2a2a;
}

section#main .master-item {
	color: #2a2a2a;
	font-size: 35px;
	font-weight: bold;
	cursor: pointer;
	float: right;
	vertical-align: middle;
	text-align: center;
	width: 25px;
	height: 25px;
}

section#main .switch {
	clear: both;
	width: 100%;
	left: 6px;
	position: relative;
	display: inline-block;
}

section#main .switch_option {
	border: 1px dashed gray;
	padding: 10px;
	margin: 5px;
	margin: 0 auto;
	text-align: center;
	min-width: 50px;
	display: inline-block;
	cursor: pointer;
}

section#main .switch_option[data-selected="true"] {
	background-color: white;
	border: 1px solid black;
}

section#main .master_flow[data-name="stages"] {
	margin-left: 15px;
}

section#main .master_flow[data-name="tasks"] {
	margin-left: 30px;
}

.process_icon {
	width: 35px;
	height: 35px;
}

.inline {
	display: inline-block;
	vertical-align: top;
}

.filter-field-color {
    width: 5px;
    height: 193px;
    display: inline-block;
    float: left;
    margin: -10px 0 0 -10px;
}

.master-header {
	margin-top: 3px;
	height: 40px;
	width: 100%;
	display: block;
}

.master-header h1 {
}

section#main .edit_master {
	margin: 5px;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	font-size: 10px;
	width: 25px;
	height: 25px;
	float: right;
	background: url(../imgs/edit-icon.png) no-repeat;
}

.master-droppable {
	width: 100%;
	position: relative;
}

.master-droppable.highlighted {
	border: 1px solid gray;
	background-color: #8eda7c;
	height: 50px;
}

.donebtn {
	font-size: 14px;
	font-weight: 100;
	cursor: pointer;
	display: block;
	width: 100%;
	text-align: center;
	color: #2b80b2;
}

.bttn {
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
  background-image: linear-gradient(top, #eeeeee, #cccccc);
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  border-radius: 3px;
  color: #333;
  font: bold 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  padding: 8px 0;
  text-align: center;
  text-shadow: 0 1px 0 #eee;
  width: 105px; }
.bttn_actions {
    background-color: #eeeeee;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
    background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
    background-image: linear-gradient(top, #eeeeee, #cccccc);
    border: 1px solid #ccc;
    border-bottom: 1px solid #bbb;
    border-radius: 3px;
    color: #333;
    font: bold 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    padding: 8px 0;
    text-align: center;
    text-shadow: 0 1px 0 #eee;
    width: 150px; }
  .bttn:hover {
    background-color: #dddddd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #bbbbbb));
    background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: linear-gradient(top, #dddddd, #bbbbbb);
    border: 1px solid #bbb;
    border-bottom: 1px solid #999;
    cursor: pointer;
    text-shadow: 0 1px 0 #ddd; }
  .bttn:active {
    border: 1px solid #aaa;
    border-bottom: 1px solid #888;
    -webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee; }

.save_everything {
    background-color: #9ee284;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9ee284), color-stop(100%, #40a86c));
    background-image: -webkit-linear-gradient(top, #9ee284, #40a86c);
    background-image: -moz-linear-gradient(top, #9ee284, #40a86c);
    background-image: -ms-linear-gradient(top, #9ee284, #40a86c);
    background-image: -o-linear-gradient(top, #9ee284, #40a86c);
    background-image: linear-gradient(top, #9ee284, #40a86c);
    border: 1px solid #bbb;
    border-bottom: 1px solid #999;
    cursor: pointer;
    text-shadow: 0 1px 0 #ddd;
}

.action-btns {
	width: 100%;
	display: block;
	margin-left: 358px;
}

footer {
	clear: both;
	display: block;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .5 )
                url('http://i.stack.imgur.com/FhHRx.gif')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}
