




{literal}
<script id="hbs-filter-dropdown" type="text/x-handlebars-template">
	<select class="smartlist-filter-dropdown smartlist-filter-{{column}}-dropdown" name="smartlist-metadata[{{module}}][smart][filters][{{id}}][{{#if columnName}}{{columnName}}{{else}}{{column}}{{/if}}]" id="smartlist-filter-{{column}}-{{module}}-{{id}}" data-module="{{module}}" data-rowid="{{id}}" {{#if fieldname}}data-field="{{fieldname}}"{{/if}}>
		<option value="{{#if defaultvalue}}{{defaultvalue}}{{/if}}">{{#if defaultlabel}}{{defaultlabel}}{{/if}}</option>
		{{#if options}}
			{{#each options}}
				<option value="{{#if this.name}}{{this.name}}{{else}}{{@key}}{{/if}}" {{#if this.name}}{{#eq this.name ../value}} selected="selected"{{/eq}}{{else}}{{#eq @key ../value}} selected="selected"{{/eq}}{{/if}}>
					{{#if this.label}}{{this.label}}{{else}}{{this}}{{/if}}
				</option>
			{{/each}}
		{{/if}}
	</select>
</script>
{/literal}