




{literal}
<script id="hbs-filter-empty" type="text/x-handlebars-template">	
	<input type="text" name="smartlist-metadata[{{module}}][smart][filters][{{id}}][{{column}}]" id="smartlist-filter-{{column}}-{{module}}-{{id}}" value="{{#if value}}{{value}}{{/if}}" placeholder="{{#if placeholder}}{{placeholder}}{{/if}}" disabled>
</script>
{/literal}