




{literal}
<script id="hbs-filter-row" type="text/x-handlebars-template">
	<tr id="smartlist-filter-row-{{module}}-{{id}}" class="smartlist-filter-row smartlist-filter-row-{{module}}" data-module="{{module}}" data-id="{{id}}">
		<td id="smartlist-filter-td-join"class="smartlist-filter-td td-join" valight="top" width="10%">
			{{#if join}}
			<select class="smartlist-filter-dropdown join-dropdown join-dropdown-{{module}}" name="smartlist-metadata[{{module}}][smart][join]" id="smartlist-filter-join-dropdown-{{module}}-{{id}}" data-module="{{module}}" data-rowid="{{id}}">
				<option value="or">OR</option>
				<option value="and"{{#eq join "and"}}selected{{/eq}}>AND</option>
			</select>
			{{/if}}
		</td>
		<td id="smartlist-filter-td-available-fields"class="smartlist-filter-td td-available-fields" valight="top" width="20%">
		</td>
		<td id="smartlist-filter-td-operands" class="smartlist-filter-td td-operands" valight="top" width="20%">
		</td>
		<td id="smartlist-filter-td-value" class="smartlist-filter-td td-value" valight="top" width="35%">
		</td>
		<td id="smartlist-filter-td-remove" class="smartlist-filter-td td-remove" valight="top" width="10%">
			<input type="hidden" class="smartlist-filter-type" name="smartlist-metadata[{{module}}][smart][filters][{{id}}][type]" id="smartlist-filter-type-{{module}}-{{id}}" data-module="{{module}}" data-rowid="{{id}}" value="">
			<button class="remove-filter btn" data-module="{{module}}" data-id="{{id}}">X</button>
		</td>
	</tr>
</script>
{/literal}