




{literal}
<script id="hbs-filter-input" type="text/x-handlebars-template">	
	<input type="text" name="smartlist-metadata[{{module}}][smart][filters][{{id}}][{{column}}]" id="smartlist-filter-{{column}}-{{module}}-{{id}}" class="smartlist-filter-input" {{#if defaultlabel}}placeholder="{{defaultlabel}}"{{/if}} {{#if value}}value="{{value}}"{{/if}}>
</script>
{/literal}