




{literal}
<script id="hbs-filter-multiselect" type="text/x-handlebars-template">	
	<select multiple class="smartlist-filter-dropdown smartlist-filter-{{column}}-dropdown" name="smartlist-metadata[{{module}}][smart][filters][{{id}}][{{column}}][]" id="smartlist-filter-{{column}}-{{module}}-{{id}}" data-module={{module}} data-rowid="{{id}}" data-fieldtype="{{fieldtype}}">
		<option value="{{#if defaultvalue}}{{defaultvalue}}{{/if}}">{{#if defaulttext}}{{defaulttext}}{{else}}Select Something{{/if}}</option>
		{{#if options}}
			{{#each options}}
				<option value="{{#if this.name}}{{this.name}}{{else}}{{@key}}{{/if}}" {{#if this.name}}{{valueInArray this.name ../value 'selected="selected"'}}{{else}}{{valueInArray @key ../value 'selected="selected"'}}{{/if}}>
					{{#if this.label}}{{this.label}}{{else}}{{this}}{{/if}}
				</option>
			{{/each}}
		{{/if}}
	</select>
</script>
{/literal}