




{literal}
<script id="hbs-generic-dropdown" type="text/x-handlebars-template">
	<p class="{{label.class}}">{{label.text}}</p>
	<select id="{{select.id}}" class="{{select.class}}" name="{{select.name}}">
		{{#if options}}
			{{#each options}}
				<option value="{{#if this.name}}{{this.name}}{{else}}{{this}}{{/if}}">
					{{#if this.label}}{{this.label}}{{else}}{{this}}{{/if}}
				</option>
			{{/each}}
		{{/if}}
	</select>
</script>
{/literal}