




{literal}
<script id="hbs-mailchimp-lists" type="text/x-handlebars-template">	
	<select name="smartlist-mailchimp-list-id" id="smartlist-mailchimp-list-id">
		<option value="">Select a MailChimp List</option>
		{{#if mailchimp_lists.lists}}
			{{#each mailchimp_lists.lists}}
				<option value="{{this.id}}">{{this.name}}</option>
			{{/each}}
		{{/if}}	
		<option value="new">Create New MailChimp List...</option>
	</select>
</script>
{/literal}