




{literal}
<script id="hbs-plan-switch-option" type="text/x-handlebars-template">
	<div id="switch-to-{{this.public_key}}" class="switch-to-option-div">
	    <input type="radio" name="plan-options" value='{{this.id}}' data-key="{{this.public_key}}"data-label="{{this.name}}"class="switch-to-option" id="switch-to-{{this.id}}-option">
	    {{this.name}} {{#if this.link}}
	    				<a target='_blank' href='{{this.link}}' class='plan-details-link'>
	    				{{#if this.link_label}}{{this.link_label}}{{else}}this.link{{/if}}
	    				</a>
    				  {{/if}}<span class="plan-price pull-right"><em> {{this.price_formatted}}</em></span>
	</div>
</script>
{/literal}