




{literal}
    <div class="smartlist-dashlet sugarchimp-bootstrap">
        {{#if isListSynced}}
            <div class="row-fluid dashlet-header">
                <div class="span8 mailchimp-list">
                    <p>
                        <strong>MailChimp List: </strong>{{#if mc_list_name}}{{mc_list_name}}{{else}}none{{/if}}
                    </p>
                </div>
                <div class="span3 list-rating-img pull-right">
                    <img src='modules/SugarChimp/includes/assets/img/rating/star-{{#if list_rating}}{{list_rating}}{{else}}0{{/if}}.png'>
                </div>
<!-- Not supported yet
                <div class="span3">
                     <button id='smartlist-edit-button' class="btn btn-primary pull-right" data-id='{{list_id}}'>Edit Settings</button>
                </div>
-->
            </div>
            <table id="smartlist-mclist-table" width="95%" class="tcenter">
                <tbody>
                <tr id="smartlist-mclist-header" class="tcenter">
                   <th id="smartlist-mclist-subscriber-count">{{#if mc_subscribers}}{{mc_subscribers}}{{else}}0{{/if}}</th>
                   <th id="smartlist-mclist-open-rate">{{#if open_rate}}{{open_rate}}{{else}}n/a{{/if}}</th>
                   <th id="smartlist-mclist-click-rate">{{#if click_rate}}{{click_rate}}{{else}}n/a{{/if}}</th>
                </tr>
                <tr class="tcenter">
                    <td>Subscribers</td>
                    <td>Open Rate</td>
                    <td>Click Rate</td>
                </tr>
                <tr id="lists-differ-link"class="tcenter {{#if numbers_match}}hide{{/if}}">
                    <td style="width:40%;"><a href='https://store.suitecrm.com/docs/SugarChimp/my-sugar-and-mailchimp-list-counts-do-not-match' target="_blank">(Why are my lists different sizes?)</a></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
            <br>
            <hr>
            <br>
            <h3 class="smartlist-title tcenter">Sync Settings</h3>
            {{#if metadata}}
                <div id="smartlist-options">
                    <ul class="smartlist-nav nav nav-tabs">
                        {{#each metadata}}
                            <li{{#if @first}} class="active"{{/if}}><a id="tab-{{@key}}">{{check @key}}</a></li>
                        {{/each}}
                    </ul>
                    <div class="tab-content">
                        {{#each metadata}}
                            <div class="smartlist-tab tab-pane smartlist-tab-pane-dashlet{{#if @first}} active{{/if}}" id="smartlist-div-tab-{{@key}}" {{#if @first}}{{else}}style="display:none;"{{/if}}>
                                {{!-- none - no syncing --}}
                                {{#eq this.mode "none"}}
                                <div class="smartlist-sync-mode-header tcenter">
                                    Only {{check @key}} Manually Added
                                </div>
                                <br>
                                {{/eq}}
                                {{!-- all - sync all records --}}
                                {{#eq this.mode "all"}}
                                <div class="smartlist-sync-mode-header tcenter">
                                    <p>ALL {{check @key}}</p>
                                </div>
                                <br>
                                {{/eq}}
                                {{!-- smart - sync using smartlist filters --}}
                                {{#eq this.mode "smart"}}
                                <div>
                                    <div class="smartlist-sync-mode-header tcenter">
                                        All who match these Custom Filters
                                    </div>

                                    <ol class="smartlist-filters">
                                        {{#each this.smart.filters}}
                                            <li>
                                                <em> {{#if this.field.label}}{{this.field.label}}{{else}}{{this.field}}{{/if}} </em>
                                                <b> {{#if this.operand.label}}{{this.operand.label}}{{else}}{{this.operand}}{{/if}} </b>
                                                <em>{{#if this.value.label}}{{this.value.label}}{{else}}{{this.value}}{{/if}}</em>
                                            </li>
                                        {{#unless @last}}
                                            
                                            <p>
                                                <b>{{#if ../smart.join}}{{toUpperCase ../smart.join}}{{else}}NONE{{/if}}</b>
                                            </p>
                                            
                                        {{/unless}}
                                        {{/each}}
                                     </ol>              
                                </div>
                                <br>
                                {{/eq}}
                                {{!-- sql - sync using a straight sql query --}}
                                {{#eq this.mode "sql"}}
                                <div>
                                    <p class="smartlist-sync-mode-header tcenter">
                                        Sync using this Custom SQL Query 
                                    </p>
                                </div>
                                <blockquote>
                                    <p class="custom-sql">{{this.sql.initial_sql}}</p>
                                </blockquote>
                                {{/eq}}
                            </div>
                        {{/each}}
                    </div>
                    <br><br>
                </div>
            {{else}}
            <br>
            <div class="tcenter smartlist-explain">
                <p>
                    This Target List has not been setup as a SmartList.
                </p>
                <p>
                    <a href="index.php?module=SugarChimp&action=step4"><strong>Edit Settings</strong></a> to turn this Target List into a SmartList!
                </p>
            </div>
            {{/if}}
        {{else}}
            <div class="row-fluid dashlet-header">
                <div class="span12 mailchimp-list tcenter">
                    <p><strong>This list is not setup to sync with MailChimp.</strong></p>
                    <p><a href="index.php?module=SugarChimp&action=step4">You can start syncing this list to MailChimp by going through step 4 of the SugarChimp setup process</a></p>
                </div>
            </div>
        {{/if}}
    </div>
{/literal}