




{literal}
<script id="hbs-sugar-lists" type="text/x-handlebars-template">	
	<select name="smartlist-sugar-list-id" id="smartlist-sugar-list-id">
		<option value="">Select a Sugar Target List</option>
		{{#if sugar_lists.list}}
			{{#each sugar_lists.list}}
				<option value="{{this.id}}">{{this.name}}</option>
			{{/each}}
		{{/if}}
		<option value="new">Create new Sugar Target List...</option>
	</select>
</script>
{/literal}