




{literal}
<script id="hbs-render-synced-lists" type="text/x-handlebars-template">
{{#if synced_lists}}
    <tr>
        <td>&nbsp;</td>
        <td><strong>Sugar Target List</strong></td>
        <td><strong>MailChimp List</strong></td>
        <td><strong>Status</strong></td>
        <td>&nbsp;</td>
    </tr>
    {{#each synced_lists}}
        <tr id="synced-list-row-{{id}}">
            <td class="list-data list-data-button">
                <button class="btn btn-mini btn-danger health-status-remove-sync" type="button" id="remove-mc-sync-{{id}}" sugar-name="{{name}}" mailchimp-name="{{mailchimp_name}}">Remove Sync</button>
            </td>
            <td class="list-data list-data-short">{{name}}</a></td>
            <td class="list-data list-data-short">{{mailchimp_name}}</td>
            <td class="list-data list-data-short" id="synced-list-status-{{id}}">{{#eq status "Sync Complete"}}<i class="icon-check hide status-good" style="display: inline;"></i> Sync Complete{{else}}{{status}}{{/eq}}</td>
            <td class="list-data list-data-long">
                {{#if actions}}
                    <select name="list-sync-options-{{id}}" id="list-sync-options-{{id}}" class="width-inherit">
                        <option value="">Available Sync Options</option>
                        {{#each actions}}
                            {{#eq this "sugar2mc"}}
                                <option value="{{this}}">Sync Sugar Data to MailChimp</option>
                            {{/eq}}
                            {{#eq this "mc2sugar"}}
                                <option value="{{this}}">Sync MailChimp Data to Sugar</option>
                            {{/eq}}
                        {{/each}}
                    </select>
                    <button class="btn btn-primary health-status-queue-sync" type="button" id="health-status-queue-sync-{{id}}">Queue Re-sync</button>
                {{else}}
                    &nbsp;
                {{/if}}
            </td>
        </tr>
    {{/each}}
    <tr>
        <td colspan="4" class="light-note">
            <div><em>If you do not see your Sugar Target List or MailChimp List above, that means it is not setup to be synced. To sync your list, go to Admin > SugarChimp Configuration.</em></div>
        </td>
    </tr>
{{else}}
    <tr>
        <td colspan="4">You do not have any synced lists. To initate a list sync, go to Admin > SugarChimp Configuration.</td>
    </tr>
{{/if}}
</script>
{/literal}