





.sugarchimpactivity-dashlet {
    width: 95%;
    margin:10px;
    font: normal 'Helvetica Neue', Arial, Helvetica, Verdana, sans-serif;
}

.sugarchimpactivity-loading {
    float: right;
}

.sugarchimpactivity-dashlet h2 {
    font: normal normal bold 26px/30px 'Helvetica Neue', Arial, Helvetica, Verdana, sans-serif;
}

.sugarchimpactivity-dashlet h3 {
    font: normal normal bold 18px/24px 'Helvetica Neue', Arial, Helvetica, Verdana, sans-serif;
}

.sugarchimpactivity-active-color {
    color: rgb(82, 186, 213);
}

.sugarchimpactivity-dashlet ul {
    font: normal normal normal 15px/24px 'Helvetica Neue', Arial, Helvetica, Verdana, sans-serif;
    list-style: none outside none;
    margin-bottom:25px;
}

.sugarchimpactivity-dashlet li {
    color: rgb(89, 89, 89);
    border-bottom: 1px dotted rgb(217, 217, 217);
    padding: 12px 0px 11px;
}

.sugarchimpactivity-dashlet li strong {
    font-weight: bold;
}

.sugarchimpactivity-meter {
    color: rgb(89, 89, 89);
    height: 13px;
    position: relative;
    text-decoration: none solid rgb(89, 89, 89);
    width: 100%;/*469px;*/
    background: rgb(238, 238, 238) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(89, 89, 89);
    border-radius: 2px 2px 2px 2px;
    margin: 7px 0px 18px;
    outline: rgb(89, 89, 89) none 0px;
    overflow: hidden;
}

.sugarchimpactivity-meter span {
    box-sizing: border-box;
    color: rgb(89, 89, 89);
    display: block;
    height: 13px;
    position: relative;
    text-decoration: none solid rgb(89, 89, 89);
    border-top: 0px none rgb(89, 89, 89);
    border-right: 0px none rgb(89, 89, 89);
    border-bottom: 13px solid rgb(149, 209, 196);
    border-left: 0px none rgb(89, 89, 89);
    outline: rgb(89, 89, 89) none 0px;
    overflow: hidden;
}

.sugarchimpactivity-rounded-box h2 {
    box-sizing: border-box;
    height: 30px;
    text-align: center;
    text-decoration: none solid rgb(89, 89, 89);
    perspective-origin: 218.5px 15px;
    transform-origin: 218.5px 15px;
    border: 0px none rgb(89, 89, 89);
    font: normal normal bold 26px/30px 'Helvetica Neue', Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    outline: rgb(89, 89, 89) none 0px;
}/*#H2_60, #H2_64, #H2_68, #H2_71, #H2_316, #H2_319, #H2_322*/

.sugarchimpactivity-rounded-box p {
    box-sizing: border-box;
    color: rgb(89, 89, 89);
    height: 24px;
    text-align: center;
    text-decoration: none solid rgb(89, 89, 89);
    text-overflow: ellipsis;
    white-space: nowrap;
    perspective-origin: 218.5px 12px;
    transform-origin: 218.5px 12px;
    border: 0px none rgb(89, 89, 89);
    font: normal normal 500 15px/24px 'Helvetica Neue', Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    outline: rgb(89, 89, 89) none 0px;
    overflow: hidden;
}/*#P_66, #P_69, #P_72, #P_317, #P_323*/

#DIV_58 {
    box-sizing: border-box;
    color: rgb(89, 89, 89);
    height: 312px;
    text-decoration: none solid rgb(89, 89, 89);
    perspective-origin: 249.5px 156px;
    transform-origin: 249.5px 156px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box padding-box;
    border: 0px none rgb(89, 89, 89);
    font: normal normal normal 16px/24px 'Helvetica Neue', Arial, Helvetica, Verdana, sans-serif;
    outline: rgb(89, 89, 89) none 0px;
    overflow: hidden;
    padding: 0px 15px;
    margin-bottom: 20px;
}/*#DIV_58*/

#DIV_59, #DIV_315 {
    box-sizing: border-box;
    color: rgb(89, 89, 89);
    height: 78px;
    text-align: center;
    text-decoration: none solid rgb(89, 89, 89);
    perspective-origin: 234.5px 39px;
    transform-origin: 234.5px 39px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box padding-box;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 6px 6px 0 0;
    font: normal normal normal 16px/24px 'Helvetica Neue', Arial, Helvetica, Verdana, sans-serif;
    outline: rgb(89, 89, 89) none 0px;
    overflow: hidden;
    padding: 10px 15px 12px;
}/*#DIV_59, #DIV_315*/

#A_61, #A_65 {
    box-sizing: border-box;
    color: rgb(82, 186, 213);
    text-align: center;
    text-decoration: none solid rgb(82, 186, 213);
    border: 0px none rgb(82, 186, 213);
    font: normal normal bold 26px/30px 'Helvetica Neue', Arial, Helvetica, Verdana, sans-serif;
    outline: rgb(82, 186, 213) none 0px;
}/*#A_61, #A_65*/

#DIV_63, #DIV_67, #DIV_318 {
    box-sizing: border-box;
    color: rgb(89, 89, 89);
    height: 78px;
    text-align: center;
    text-decoration: none solid rgb(89, 89, 89);
    perspective-origin: 234.5px 39px;
    transform-origin: 234.5px 39px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box padding-box;
    border-top: 0px none rgb(89, 89, 89);
    border-right: 1px solid rgb(217, 217, 217);
    border-bottom: 1px solid rgb(217, 217, 217);
    border-left: 1px solid rgb(217, 217, 217);
    font: normal normal normal 16px/24px 'Helvetica Neue', Arial, Helvetica, Verdana, sans-serif;
    outline: rgb(89, 89, 89) none 0px;
    overflow: hidden;
    padding: 11px 15px 12px;
}/*#DIV_63, #DIV_67, #DIV_318*/

#DIV_70, #DIV_321 {
    box-sizing: border-box;
    color: rgb(89, 89, 89);
    height: 78px;
    text-align: center;
    text-decoration: none solid rgb(89, 89, 89);
    perspective-origin: 234.5px 39px;
    transform-origin: 234.5px 39px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box padding-box;
    border-top: 0px none rgb(89, 89, 89);
    border-right: 1px solid rgb(217, 217, 217);
    border-bottom: 1px solid rgb(217, 217, 217);
    border-left: 1px solid rgb(217, 217, 217);
    border-radius: 0 0 6px 6px;
    font: normal normal normal 16px/24px 'Helvetica Neue', Arial, Helvetica, Verdana, sans-serif;
    outline: rgb(89, 89, 89) none 0px;
    overflow: hidden;
    padding: 11px 15px 12px;
}/*#DIV_70, #DIV_321*/