




/***************************
Original Bootstrap Classes
***************************/
    .sugarchimp-setup .btn-large {
        font-size: 16px;
    }
    .sugarchimp-setup .btn-success:hover, .sugarchimp-setup .btn-success:active, .sugarchimp-setup .btn-success.active, .sugarchimp-setup .btn-success.disabled, .sugarchimp-setup .btn-success[disabled] {
        color: #fff;
        background-color: #35830e;
        *background-color: #2c6c0b;
    }
    .sugarchimp-setup .btn-success:active, .sugarchimp-setup .btn-success.active {
        background-color: #225509 \9 !important;
    }
/***************************
SugarChimp Basics
***************************/
    .sugarchimp-setup, .sugarchimp-health-status, .sugarchimp-field-mapping, .sugarchimp-admin, .sugarchimp-adminmc {
        position: absolute;
        top: 0;
        bottom: 0;
        overflow-y: auto;
        width: 100%;
    }
    .sugarchimp-setup .btn-xlarge {
        font-size: 16px;
        padding: 24px 32px;
    }
    .sugarchimp-setup .btn-oauth {
        margin: 140px 0;
    }
    .sugarchimp-setup .verticalspace {
        margin: 80px 0;
    }
    .sugarchimp-setup .license-spacing {
        margin: 80px 0 40px 0;
    }
    .sugarchimp-setup .welcome-message .extra-padding p {
        padding: 15px 5px;
    }
    .sugarchimp-setup .control-group .input-append .help-block .pull-left {
        margin-left: 6px;
    }
    .sugarchimp-setup .link-with-button {
        line-height: 38px;
    }
    .sugarchimp-setup .sync-list-table th.center {
        text-align: center !important;
    }
    .sugarchimp-setup .sync-list-table td.center {
        text-align: center !important;
    }
    .sugarchimp-setup .sync-list-table select {
        margin-bottom: 0;
    }
    .sugarchimp-setup hr {
        border-top: 1px solid #DFDFDF;
    }
    .sugarchimp-setup .button-footer {
        margin-top: 20px;
    }
    .sugarchimp-setup .width-inherit {
        width: inherit !important;
    }
    .sugarchimp-setup .howtoListToggle {
        margin-left: 20px;
    }
    .sugarchimp-setup option[disabled="disabled"] {
        background-color: #eeeeee;
    }
    #content {
        background-color: #bbbbbb;
    }
    .sugarchimp-setup .nav-success {
        color: #343433;
        background-color: #efefef;
        text-align: left;
        padding: 8px 20px;
    }
    .sugarchimp-setup .main-panel {
        width: 80%;
        max-width: 760px;
        background-color: #ffffff;
        padding: 0;
        margin: 20px auto;
    }
    .sugarchimp-health-status .main-panel {
        width: 80%;
        background-color: #ffffff;
        padding: 0;
        margin: 20px auto;
    }
    .sugarchimp-field-mapping .main-panel {
        width: 90%;
        background-color: #ffffff;
        padding: 0;
        margin: 20px auto;
    }
    .sugarchimp-setup .content-panel, .sugarchimp-health-status .content-panel, .sugarchimp-field-mapping .content-panel {
        margin-bottom: 10px;
    }
    .vmiddle {
        vertical-align: middle;
    }
/***************************
Setup Specific
***************************/
    div.alert.alert-warning.alert-block {
        min-width: 360px;
        max-width: 360px;
    }
    .sugarchimp-setup .space-right {
        margin-right: 5%;
    }
    .sugarchimp-setup .space-left {
        margin-left: 5%;
    }
    .sugarchimp-setup .hcenter{
        display: inline-block;
        width: 80%;
        margin: 5px 10% 5px 10%;
    }
    .sugarchimp-setup .label-small {
        padding: 2px 8px;
        font-size: 0.6em;
        font-weight: 400;
        border-radius: 2px;
        position: relative;
        width: auto;
    }
    .sugarchimp-setup .label-large {
        padding: 2px 8px;
        font-size: 0.8em;
        font-weight: 400;
        border-radius: 3px;
        position: relative;
        width: auto;
    }
    .sugarchimp-setup .label-Xlarge {
        padding: 2px 8px;
        font-size: 1.1em;
        font-weight: 400;
        border-radius: 3px;
        position: relative;
        margin: 8px 5px;
        width: auto;
    }
    .sugarchimp-setup .label-large ul li{
        font-size: 1.2em;
        margin-left: 25px;
    }
    .sugarchimp-setup .disabled-text {
        color: #999;
        font-size: 0.9em;
    }
    .sugarchimp-setup .disabled-text .upgrade {
        font-weight: 600;
        color: #007ACC;
        position: inherit;
    }
    .sugarchimp-setup .info-box {
        clear: both;
        background-color: #efefef;
        color: black;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        width: 50%;
        border-radius:    4px;
        margin: 10px auto;
    }
    .sugarchimp-setup .setup-body {
        padding: 10px 20px;
        font-size: 14px;
        line-height: 20px;
    }
    .sugarchimp-setup .validation-success {
        background-color: #22C944;
    }

    .sugarchimp-setup .fail-box {
        background-color: #ea9090;
    }

    .sugarchimp-setup .success-box {
        background-color: #aad395;
    }

    .sugarchimp-setup ul {
        margin: 20px 0 10px 10px;
    }
    .sugarchimp-setup li a {
        font-size: 0.9em;
    }

    .sugarchimp-setup .status-table td, .sugarchimp-health-status .status-table td, .sugarchimp-field-mapping .status-table td {
        font-size: 1.1em;
        border: 0;
    }
    .sugarchimp-setup .info-box ol{
        text-align: justify;
    }
    .sugarchimp-setup .row {
        margin-left: -6px;
    }
    .sugarchimp-setup .center30 {
        max-width: 30%;
        margin: 10px 35%;
    }
    .sugarchimp-setup .center50 {
        max-width: 50%;
        margin: 10px 25%;
    }
    .sugarchimp-setup .center70 {
        max-width: 70%;
        margin: 10px 15%;
    }
/***************************
Setup Steps Header
***************************/
    .sugarchimp-setup .setup-steps {
        display: table;
        width: 100%;
        border-collapse: separate;
        border-spacing: 5px;
    }
    .sugarchimp-setup .setup-steps li {
        display: table-cell;
    }
    .sugarchimp-setup .setup-steps a  {
        padding:  12px 12px 10px 12px;
        margin-right: 5px;
        text-align: left;
        background: #efefef;
        position: relative;
        /* display: inline-block; */
        display: table-cell;
     }
    .sugarchimp-setup .setup-steps a:before  {
        width: 0px;
        height: 0px;
        border-top:  20px inset transparent;
        border-bottom:  20px inset transparent;
        border-left:  20px solid #fff;
        position:  absolute;
        content:  "";
        top:  0;
        left:  0;
    }
    .sugarchimp-setup .setup-steps a:after  {
        width: 0px;
        height: 0px;
        border-top:  20px inset transparent;
        border-bottom:  20px inset transparent;
        border-left:  20px solid #efefef;
        position:  absolute;
        content:  "";
        top:  0;
        right:  -20px;
        z-index: 2;
    }
    .sugarchimp-setup .setup-steps a:first-child:before
    ,.sugarchimp-setup .setup-steps a:last-child:after {
        border: none;
    }
    .sugarchimp-setup .setup-steps a:first-child  {
        -moz-border-radius:  4px 0 0 4px;
        -webkit-border-radius:  4px 0 0 4px;
        border-radius:    4px 0 0 4px;
    }
    .sugarchimp-setup .setup-steps a:last-child  {
        -moz-border-radius:  0 4px 4px 0;
        -webkit-border-radius:  0 4px 4px 0;
        border-radius:    0 4px 4px 0;
    }
    .sugarchimp-setup .setup-steps .badge  {
        margin: 0 5px 0 18px;
        position: relative;
        top: -1px;
    }
    .sugarchimp-setup .setup-steps a:first-child .badge  {
        margin-left: 0;
    }
    .sugarchimp-setup .setup-steps .current  {
        background: #007ACC;
        color: #fff;
    }
    .sugarchimp-setup .setup-steps .current:after  {
        border-left-color: #007ACC;
    }
/***************************
Setup Step 2
***************************/
    .sugarchimp-setup #plan-switching {
        width: 60%;
        margin: 0px auto;
    }
    #plan-switching #plan-switching-options {
        margin: 15px 0 3px;
    }
    #plan-switching a {
        text-decoration: none;
    }
    #plan-switching #current-plan-p {
        margin: 3px 0 -10px;
        padding: 0px;
        text-align: left;
    }
    #plan-switching .plan-change-accept {
        float: left;
    }
    #plan-switching p.button-details, #plan-switching span.button-details {
        font-size: 0.9em;
        text-align: left;
        padding: 3px 10px;
    }
    #plan-switching .switch-to-option-div {
        border:1px solid black;
        background: #FFF;
        border-radius: 4px;
        text-align: left;
        padding: 5px 20px;
    }
    #plan-switching .switch-to-option-div input{
        margin-bottom: 4px;
    }
    #plan-switching .switch-to-option-div input:checked{
        background: #BBB;
        font-weight: 600;
    }
    #plan-switching .switch-to-option-div.active {
        background: #EFEFEF;
        font-weight: 600;
    }
    #plan-switching .btn-small {
        height: 28px;
        margin: 3px 10px;
    }
    #plan-switching textarea.sugarchimp-terms-box {
        background-color: #FFF79B;
        min-height: 170px;
        width: 412px;
    }

/***************************
Setup Step 4
***************************/
    .sugarchimp-setup .header-info {
        width: 90%;
        text-align: left;
    }
    .sugarchimp-setup .description-row {
        width: 100%;
        display: "table-cell";
    }
    .sugarchimp-setup .step-header {
        margin-right: 3%;
        margin-left: 3%;
    }
    .sugarchimp-setup .step-description {
        clear: both;
        background-color: #efefef;
        height: 100%;
        padding: 10px;
        font-size: .85em;
        width: 80%;
        border-radius: 8px;
        margin: 4px auto 10px auto;
    }
    .sugarchimp-setup .step-description input, .sugarchimp-setup .step-header input{
        max-width: 90%;
    }
    .sugarchimp-setup .step2, .sugarchimp-setup .step3 {
        display:none;
    }
    .sugarchimp-setup .smartlist-mode-selection {
        margin: 10px 15px;
        font-size: 1.1em;
        font-weight: 600;
    }
    .sugarchimp-setup .sync-option-details {
        width: 80%;
        padding-top: 10px;
        padding-left: 20px;
        font-size: .92em;
        margin: 10px 5%;
    }
    .sugarchimp-setup .sync-option {
        display: inline-block;
        width: 100%;
    }
    .sugarchimp-setup .sync-option .row{
        margin-left: 0;
    }
    .sugarchimp-setup .sync-option button:first-child{
        margin: 2px 2% 4px 2%;
        line-height: 36px;
        font-size: 27px;
        font-weight: 600;
    }
    .sugarchimp-setup .sync-option p:first-child{
        margin: 5px 5%;
    }
    .sugarchimp-setup .sync-option button:hover{
        color: #090909;
    }
    .sugarchimp-setup .sync-option button{
        color: #007ACC;
    }
    .sugarchimp-setup .sync-option hr {
        width: 96%;
        border-color: #CCC;
        margin-bottom: 2px;
        margin-left: 2%;
        margin-right: 2%;
    }
    .smartlist-filters-table {
        width: 95%;
        margin-bottom: 10px;
        margin-top: 6px;
        margin-right: 4px;
        margin-left: 4px;
    }
    .smartlist-filter-td {
        color: #666;
        margin-top: 8px;
    }
    .smartlist-filter-td select, .smartlist-filter-td input, .smartlist-filter-td button{
        margin: 5px 2px 3px;
    }
    .smartlist-filter-td select {
        max-width: 174px;
        min-width: 60px;
    }
    .smartlist-filter-td input {
        max-width: 160px;
    }
    .smartlist-filter-td select.join-dropdown {
        width: 60px;
    }
    .smartlist-filter-row {
        vertical-align: top;
        text-align: center;
    }
    .sugarchimp-setup .test-query-row {
        margin: 3px 5%;
    }
    .sugarchimp-setup .test-query {
        margin: 3px 5px 10px;
    }
    .sugarchimp-setup .list-dropdown-title {
        width:  90%;
        margin: 9px 5%;
    }
    .sugarchimp-setup ul.feature-list li {
        margin-left: 10%;
        font-weight: 600;
    }
    .sugarchimp-setup .smartlist-nav {
        width: 97%;
        margin-bottom: 0;
    }
    .sugarchimp-setup .syncing-tab {
        width: 100%;
        margin-top: 0;
        padding-left: 5px;
    }
    .sugarchimp-setup .listViewBody {
        margin: 4px 8px 8px;
    }
    .sugarchimp-setup .listViewBody .list {
        border: 1px solid #AFAFAE !important;
    }
    .sugarchimp-setup .listViewBody .list tr th {
        color: #666;
        font-size: 13px;
        text-align: left;
        padding: 6px 5px 6px 10px;
        border-top: 1px solid #cccccc;
        border-bottom: 1px solid #cccccc;
        background: #ebebed !important;
    }
    .sugarchimp-setup .listViewBody .list tr td {
        color: #222;
        font-size: 13px;
        text-align: left;
        padding: 6px 8px 6px 10px;
        background-color: #f6f6f6;
    }
    .sugarchimp-setup .subscribers {
        margin-left: 44px;
    }

/***************************
Field Mapping
***************************/
    .sugarchimp-field-mapping .field-mapping-body {
        padding: 10px 20px;
        font-size: 14px;
        line-height: 20px;
    }
    div.field-mapping-welcome {
        margin-left: 20px;
        margin-right: 20px;
    }
    .sugarchimp-field-mapping-error {
        border:1px solid red;
        color:red;
    }

/***************************
Health Status
***************************/
    .sugarchimp-health-status h1, .sugarchimp-field-mapping h1 {
        font-size: 28px;
        line-height: 34px;
        margin-top: 18px;
    }

    p.health-status-welcome, div.health-status-welcome {
        margin-left: 20px;
        margin-right: 20px;
    }
    .sugarchimp-health-status i.status-good, .sugarchimp-field-mapping i.status-good {
        color: #8cc66a;
    }
    .sugarchimp-health-status i.status-bad, .sugarchimp-field-mapping i.status-bad {
        color: #b60000;
    }
    .sugarchimp-health-status .status-summary > td, .sugarchimp-field-mapping .status-summary > td {
        background-color: #eeeeee;
        border-top: 1px solid #bbbbbb;
        border-bottom: 1px solid #bbbbbb;
    }
    .sugarchimp-health-status .status-table a, .sugarchimp-field-mapping .status-table a {
        font-size: 12px;
        margin-left: 10px;
    }
    #health-status-synced-lists tbody tr td{
        text-align: center;
    }
    td.list-data-button {
        width: 4%;
    }
    td.list-data-short {
        width: 16%;
    }
    td.list-data-short button {
        margin: 3px 20px;
    }
    td.list-data-long {
        width: 36%;
    }
    td.list-data-long select {
        margin: 3px 20px;
    }
    td.list-data-long button {
        margin: 3px 20px;
    }

/***************************
Data Privacy
***************************/
    .sc-erase-data-button {
        margin-left: 10px;
    }
/***************************
SugarChimp Webhook
***************************/
    #sugarchimp-webhook-url {
        font-size: 12px;
        font-weight: bold;
    }
    .sugarchimp-webhook-help {
        font-size: 11px;
        margin-top: 12px;
    }