





div.sugarchimp-dashlet {
    width:550px;
}
div.sugarchimp-dashlet-ce {
    width:650px;
}
.sugarchimp-dashlet .activity {
    box-sizing: border-box;
    color: rgb(89, 89, 89);
    display: block;
    height: 169px;
    position: relative;
    text-decoration: none solid rgb(89, 89, 89);
    border: 0px none rgb(89, 89, 89);
    font: normal normal normal 15px/22.5px 'Helvetica Neue', Arial, Helvetica, Verdana, sans-serif;
    list-style: none outside none;
    outline: rgb(89, 89, 89) none 0px;
    padding: 12px 0px;
    margin-left: 7px;
}
.sugarchimp-dashlet .activity .activity-timestamp {
    box-sizing: border-box;
    color: rgb(89, 89, 89);
    display: inline-block;
    height: 120px;
    position: relative;
    text-align: left;
    text-decoration: none solid rgb(89, 89, 89);
    width: 90px;
    border: 0px none rgb(89, 89, 89);
    font: normal normal normal 15px/22.5px 'Helvetica Neue', Arial, Helvetica, Verdana, sans-serif;
    list-style: none outside none;
    outline: rgb(89, 89, 89) none 0px;
}
.sugarchimp-dashlet .activity .activity-timestamp .activity-date {
    box-sizing: border-box;
    color: rgb(89, 89, 89);
    height: 30px;
    text-align: center;
    text-decoration: none solid rgb(89, 89, 89);
    vertical-align: middle;
    width: 60px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(89, 89, 89);
    font: normal normal bold 15px/30px 'Helvetica Neue', Arial, Helvetica, Verdana, sans-serif;
    list-style: none outside none;
    margin: 0px 30px 0px 0px;
    outline: rgb(89, 89, 89) none 0px;
}
.sugarchimp-dashlet .activity .activity-timestamp .activity-time {
    box-sizing: border-box;
    color: rgb(183, 183, 183);
    height: 30px;
    text-align: center;
    text-decoration: none solid rgb(183, 183, 183);
    vertical-align: middle;
    width: 60px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(183, 183, 183);
    font: normal normal bold 15px/30px 'Helvetica Neue', Arial, Helvetica, Verdana, sans-serif;
    list-style: none outside none;
    margin: 0px 30px 0px 0px;
    outline: rgb(183, 183, 183) none 0px;
}
.sugarchimp-dashlet .activity .activity-timestamp .activity-action {
    box-sizing: border-box;
    color: rgb(89, 89, 89);
    display: inline-block;
    height: 60px;
    text-align: left;
    text-decoration: none solid rgb(89, 89, 89);
    vertical-align: middle;
    width: 60px;
    border: 0px none rgb(89, 89, 89);
    border-radius: 50% 50% 50% 50%;
    font: normal normal normal 15px/22.5px 'Helvetica Neue', Arial, Helvetica, Verdana, sans-serif;
    list-style: none outside none;
    margin: 0px 30px 0px 0px;
    outline: rgb(89, 89, 89) none 0px;
}
.sugarchimp-dashlet .activity .activity-info {
    box-sizing: border-box;
    color: rgb(89, 89, 89);
    display: inline-block;
    height: 145px;
    position: relative;
    text-align: left;
    text-decoration: none solid rgb(89, 89, 89);
    vertical-align: top;
    width: 420px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 2px solid rgb(224, 224, 224);
    border-radius: 6px 6px 6px 6px;
    font: normal normal normal 15px/22.5px 'Helvetica Neue', Arial, Helvetica, Verdana, sans-serif;
    list-style: none outside none;
    outline: rgb(89, 89, 89) none 0px;
}
.sugarchimp-dashlet .activity .activity-info:after {
    box-sizing: border-box;
    color: rgb(89, 89, 89);
    height: 20px;
    left: -19px;
    pointer-events: none;
    position: absolute;
    text-align: left;
    text-decoration: none solid rgb(89, 89, 89);
    top: 77px;
    width: 20px;
    content: ' ';
    border-top: 10px solid rgba(0, 0, 0, 0);
    border-right: 10px solid rgb(255, 255, 255);
    border-bottom: 10px solid rgba(0, 0, 0, 0);
    border-left: 10px solid rgba(0, 0, 0, 0);
    font: normal normal normal 15px/22.5px 'Helvetica Neue', Arial, Helvetica, Verdana, sans-serif;
    list-style: none outside none;
    outline: rgb(89, 89, 89) none 0px;
}
.sugarchimp-dashlet .activity .activity-info:before {
    box-sizing: border-box;
    color: rgb(89, 89, 89);
    height: 20px;
    left: -22px;
    pointer-events: none;
    position: absolute;
    text-align: left;
    text-decoration: none solid rgb(89, 89, 89);
    top: 77px;
    width: 20px;
    content: ' ';
    border-top: 10px solid rgba(0, 0, 0, 0);
    border-right: 10px solid rgb(224, 224, 224);
    border-bottom: 10px solid rgba(0, 0, 0, 0);
    border-left: 10px solid rgba(0, 0, 0, 0);
    font: normal normal normal 15px/22.5px 'Helvetica Neue', Arial, Helvetica, Verdana, sans-serif;
    list-style: none outside none;
    outline: rgb(89, 89, 89) none 0px;
}
.sugarchimp-dashlet .activity .activity-title {
    box-sizing: border-box;
    color: rgb(89, 89, 89);
    height: 41px;
    max-width: 100%;
    text-align: left;
    text-decoration: none solid rgb(89, 89, 89);
    border-top: 0px none rgb(89, 89, 89);
    border-right: 0px none rgb(89, 89, 89);
    border-bottom: 1px solid rgb(224, 224, 224);
    border-left: 0px none rgb(89, 89, 89);
    font: normal normal bold 14px/22.5px 'Helvetica Neue', Arial, Helvetica, Verdana, sans-serif;
    list-style: none outside none;
    margin: 0px 0px 18px;
    outline: rgb(89, 89, 89) none 0px;
    padding: 9px;
}
.sugarchimp-dashlet .activity .activity-campaign {
    box-sizing: border-box;
    color: rgb(89, 89, 89);
    height: 24px;
    max-width: 550px;
    text-align: left;
    text-decoration: none solid rgb(89, 89, 89);
    border: 0px none rgb(89, 89, 89);
    font: normal normal normal 15px/24px 'Helvetica Neue', Arial, Helvetica, Verdana, sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(89, 89, 89) none 0px;
    padding: 9px;
}
.sugarchimp-dashlet .activity .activity-email {
    box-sizing: border-box;
    color: rgb(89, 89, 89);
    height: 22px;
    max-width: 550px;
    opacity: 0.800000011920929;
    text-align: left;
    text-decoration: none solid rgb(89, 89, 89);
    z-index: 0;
    border: 0px none rgb(89, 89, 89);
    font: normal normal normal 13px/22.5px 'Helvetica Neue', Arial, Helvetica, Verdana, sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(89, 89, 89) none 0px;
    padding: 9px;
}
.sugarchimp-dashlet .activity .activity-email-link {
    box-sizing: border-box;
    color: rgb(44, 154, 183);
    text-align: left;
    text-decoration: none solid rgb(44, 154, 183);
    border-top: 0px none rgb(44, 154, 183);
    border-right: 0px none rgb(44, 154, 183);
    border-bottom: 1px dotted rgb(82, 186, 213);
    border-left: 0px none rgb(44, 154, 183);
    font: normal normal normal 13px/normal 'Helvetica Neue', Arial, Helvetica, Verdana, sans-serif;
    list-style: none outside none;
    outline: rgb(44, 154, 183) none 0px;
}

.sugarchimp-dashlet #mailchimp-lists {
    margin:7px;
}

.sugarchimp-dashlet #mailchimp-lists ul {
    font: normal normal normal 15px/24px 'Helvetica Neue', Arial, Helvetica, Verdana, sans-serif;
    list-style: none outside none;
    margin-bottom:25px;
}

.sugarchimp-dashlet #mailchimp-lists ul li {
    color: rgb(89, 89, 89);
    border-bottom: 1px dotted rgb(217, 217, 217);
    padding: 12px 0px 11px;
}

.sugarchimp-dashlet #mailchimp-lists ul li strong {
    font-weight: bold;
}

.sugarchimpactivity-dashlet #mailchimp-lists h2 {
    font: normal normal bold 26px/30px 'Helvetica Neue', Arial, Helvetica, Verdana, sans-serif;
}

