




div.smartlist-dashlet {
    width:95%;
    margin: 5px 2.5%;
}
div.smartlist-dashlet .row{
	margin-left: 0;
}
div.smartlist-dashlet div p strong {
	font-weight: 600;
	font-size: 1.12em;
}
div.smartlist-dashlet:last-child {
	margin-bottom: 20px;
}
div.smartlist-explain p {
	margin:	3px auto;
}
div.smartlist-dashlet hr{
    border-color: #CCC;
    margin-top: 3px;
    margin-bottom: 3px;
}

/*****************************************
	MailChimp List / Header
*****************************************/

.smartlist-dashlet .dashlet-header {
	background-color: #fff;
}
div.dashlet-header button {
	margin: 20px 2px 5px;
}
div.mailchimp-list {
	padding:	20px 2px 15px;
}
div.mailchimp-list p {
	font-size:	1.07em;
}
div.list-rating-img img {
    height: 20px;
    width: 88%;
    margin: 20px 6%;
}
#smartlist-mclist-header th {
    font: bold bold bold 15px/22.5px 'Helvetica Neue', Arial, Helvetica, Verdana, sans-serif;
    font-size: 1.5em;
    color: #007ACC;
}
#lists-differ-link a {
    font-size: 0.9em;
}
/*****************************************
	Filters Table
*****************************************/

.smartlist-dashlet ol.smartlist-filters {
	width: 85%;
	margin:	8px 5% 10px 10%;

}
.smartlist-dashlet ol.smartlist-filters li {
	font-size: 1.2em;
	margin-top: 3px;
	margin-bottom: 3px;
}
.smartlist-dashlet ol.smartlist-filters li b{
	font-size:1.05em;
}
.smartlist-dashlet .smartlist-sync-mode-header{
	margin: 15px auto 8px;
    font-weight: 600;
    font-size: 1.2em;
}