




/***************************
Sugar6 SugarChimp Alignment
***************************/
.sugarchimp-setup, .sugarchimp-health-status, .sugarchimp-field-mapping, .sugarchimp-admin, .sugarchimp-adminmc {
    position: relative;
}
.tright {
  text-align: right;
}
.tcenter {
  text-align: center;
}
.vmiddle {
    vertical-align: middle;
}
/***************************
General TextBoxes and Alerts
***************************/
.loading-panel p {
    font-size: 20px;
    font-weight: 600;
}

.warning-box {
    margin: 40px auto 100px;
    width: 60%;
}

.warning-panel .warning-box p {
    font-size: 12px;

}
.warning-panel .warning-box h3 {
    font-size: 18px;
}

.sugarchimp-setup .success-box {
    background-color: #d8f5ee;
}

/***************************
Setup Icons Step 1-4
***************************/
.sugarchimp-bootstrap .row-fluid .span3 {
    width: 22.4%;
}
.sugarchimp-bootstrap input[type="radio"],
.sugarchimp-bootstrap input[type="checkbox"] {
    width:16px;
    height:16px;
}
/***************************
Setup Container and Body
***************************/
.status-table td.tright {
    text-align: right;
}
/***************************
Step 4-3 Specifics
***************************/
.smartlist-mode-div {
    text-align: left;
}
.sugarchimp-setup input.smartlist-mode-selection {
    float: left;
    margin: 10px 15px;
}
.sugarchimp-setup input[type="file"] {
  height: 30px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */
  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */
  line-height: 20px;
}
/***************************
Health Status Page
***************************/
.health-status-container {
    width: 1236px;
    margin: 0 auto;
    background-color: #EFEFEF;
    border: 1px solid #CFCFCF;
    padding: 20px;
}
.status-table {
    font-size: 1.1em;
}
.status-table td {
    padding:5px 3px;
    margin:5px 0;
}
#health-status-synced-lists tbody tr td{
    text-align: center;
}
td.list-data-short {
    width: 20%;
}
td.list-data-long {
    width: 40%;
}
td.list-data-long select {
    margin: 3px 20px;
}
td.list-data-long button {
    margin: 3px 20px;
}
.status-summary > td {
    font-weight: bold;
    background-color: #fff;
    border-top: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
}

/***************************
SmartList Dashlet
***************************/
div.smartlist-dashlet {
    max-width: 550px;
}
div.dashlet-header button {
    margin: 20px 2px 5px;
}
div.mailchimp-list {
    padding:    20px 2px 15px;
}
div.list-rating-img img {
    height: 20px;
    width: 88%;
    margin: 20px 6%;
}
#smartlist-mclist-header th {
    font: bold bold bold 15px/22.5px 'Helvetica Neue', Arial, Helvetica, Verdana, sans-serif;
    font-size: 1.5em;
    color: #007ACC;
}
#lists-differ-link a {
    font-size: 10px;
}